<div class="box_home">

<div style="margin-left:40px;">
 	<h2 style="color:#45a4dc; font-weight:12px;"><%= @mensagem %></h2>
 	<center><p style="font-weight:bold"><%= @protocolo %></p></center>
</div>

</div>



